<!--Creating Password and submit button-->
<div class="container">
    <div class="col-xs-12">
        <div class="form-wrap">
            <form role="form">
                <div class="form-group">

                    <label for="password" class="sr-only">password</label>
                    <input type="password" name="password" id="firstName" class="form-control" placeholder="password" #first>
                </div>
                <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Login">
            </form>
        </div>
    </div>
    <!-- /.col-xs-12 -->
</div><!-- End container -->
